.white-well
  .privacy-container
    %h2
      TextSupport Privacy Statement

    %p
      At TextSupport, we are dedicated to creating an anonymous, safe and trusting environment. Hence, protecting your privacy is of the upmost importance for us.

    %h3
      What information do we collect?

    %h4
      Personal Information

    %p
      When you sign up for an account on our website or on our app, we will ask you for some personal information, such as your email address and a password for the account. We recommend that you not use the same password as your other services. 

    %p
      In addition, we may ask you to provide some optional information. This can be, but is not limited to, demographic information, past experiences, personal preferences, and general personality survey questions. While this information is optional, it would greatly help us to be able to better match users with listeners.


    %h4
      Device, cookies and log information
    %p
      When you use our services on our website, our servers will automatically collect information that your browser sends. This includes, but is not limited to, internet protocol (IP) addresses, browser type, and web requests. Our website may use cookies to collect information about user preferences, in an effort to improve the quality of our service.
    %p
      When you use our services using our app, our servers will automatically collect information such as internet protocol (IP) addresses.
    %p
      Logs of your conversations (on the website or the app) will be stored on our servers. We will never sell your data to any third parties. We are not offering a clinical or professional service, so we cannot offer anything akin to medical confidentiality. We may be required by law to provide information to official authorities.

:css
  .privacy-container{
    margin: 0px 20px 20px 20px;
  }
