.row
	.span6
		.title
			TextSupport

		.subtitle
			Random Texts of Kindness


		.well.description
			TextSupport is a mobile app that serves as a platform for giving and receiving social support through text. 
			Its ultimate goal is to improve people’s moods and sense of connection with others.
			%br
			%br
			%p
				We are a group of peer counselors and psychology students who are passionate about helping people by providing a listening ear.
				If you ever want to talk to someone, we provide a free, safe, and anonymous environment for you to share your emotions.
	.span6
		.main-image
			=image_tag("love-heart.jpg")

<!--Start of Zopim Live Chat Script-->
:javascript
	window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
	d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
	_.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
	$.src='//cdn.zopim.com/?1B0IZdWWMpiII8zjMv4oI19rtI6caSB6';z.t=+new Date;$.
	type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');
	$zopim.livechat.window.show();
<!--End of Zopim Live Chat Script-->
